<ion-view>

    <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h4 class="view_title">
                MYLO
            </h4>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <h3 class="btnLogin">
                <a><i class="ion-chevron-right"></i></a>
            </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-controller="MeditationLengthCtrl" scroll="false">
        <div class="container meditation-length">
            <p class="txt_title">For how long? (Minutes)</p>

            <!-- <div class="time-chart-cont">
                <!--<a swapColour="changeColour()" on-swipe-left="onSwipeAcross('no')" class="page-arrow-left arrow-left button button-clear button-dark txtWhite" data-mylonxtpage="0"><</a>-->
            <!-- <div class="time-chart-vert">
                    <div class="time-chart-vert-line">
                        <div dragvert class="time-marker"></div>
                    </div>
                    <div id="time0" class="time-chart-horiz-line" style="top:0%"> <p class="chart-mins mins-selected">0</p> </div>
                    <div id="time5" class="time-chart-horiz-line" style="top:12.5%"> <p class="chart-mins">5</p> </div>
                    <div id="time10" class="time-chart-horiz-line" style="top:25%"> <p class="chart-mins">10</p> </div>
                    <div id="time15" class="time-chart-horiz-line" style="top:37.5%"> <p class="chart-mins">15</p> </div>
                    <div id="time20" class="time-chart-horiz-line" style="top:50%"> <p class="chart-mins">20</p> </div>
                    <div id="time25" class="time-chart-horiz-line" style="top:62.5%"> <p class="chart-mins">25</p> </div>
                    <div id="time30" class="time-chart-horiz-line" style="top:75%"> <p class="chart-mins">30</p> </div>
                    <div id="timexx" class="time-chart-horiz-line" style="top:90%"> <p class="chart-mins">longer</p> </div>
                </div>
                <div class="swipe-container-right" on-swipe-right="setAnswer()"> 
                    <a swapColour="changeColour()" ng-click="setAnswer()" class="page-arrow-right arrow-right button button-clear button-dark txtWhite" data-mylonxtpage="3">></a>  
                </div>                    
            </div>      -->              

            <div class="img_clock"></div>
            <div class="time_slots">
                <div ng-repeat="slot in timeSlots" class="length-slot">
                    <button class="btn-slot" ng-click="answered({{slot.length}})">
                        {{ slot.label }}
                    </button>
                </div>
                <!-- <div class="slot-longer">Longer</div> -->
            </div>
            
        </div>

    </ion-content>
</ion-view>