<ion-view>

	<ion-nav-bar align-title="center">
		<ion-nav-buttons side="left">
		    <div class="stripes" sidemenubut>
		        <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
		        </button>            
		    </div>
		</ion-nav-buttons>
		<ion-nav-title>
			<h3 class="view_title">
		    	MYLO
		    </h3>
		</ion-nav-title>
		<ion-nav-buttons side="right">
		    <h3 ng-show="(parentObj.loginState)" class="btnLogin">
		        <a  ng-click="logOut()"><i class="ion-power"></i></a>
		    </h3>  
		</ion-nav-buttons>
    </ion-nav-bar>


	<ion-content ng-controller="MeditationAdviceCtrl">
		<div class="containerAdvice">
			<p class="txt_title">Meditation Advice</p>
			<p class="txtInfoData adviceTxt" ng-bind-html="parentObj.advice">
			</p>
			<p ng-if="adviceNum != 2" class="adviceTxt visitText">
				For more details, Visit<br>
				<a href="#" ng-click='externalLink("http://meditationforstress.net/how-to-meditate/")'>meditationforstress.net</a>
			</p>
			<!-- <p ng-if="adviceNum == 2">
			</p> -->
			<!-- <button swapColour="changeColour()" data-mylonxtpage="{{medEventHome}}" class="button button-full button-stable btn-logout btn-advice-margin"> < Back to homepage  </button> -->
		</div>
	</ion-content>
</ion-view>