<ion-view title="">
	
	<ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h4 class="view_title">
                MYLO
            </h4>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <h3 class="btnLogin">
                <a><i class="ion-chevron-right"></i></a>
            </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-controller="MeditationDayCtrl" scroll="false">
        <div class="container meditation-day">
            <p class="txt_title">How was your day?</p>
        	<!-- <div class="time-chart-cont">
	            <div class="time-chart-vert">
	                    <div class="time-chart-vert-line">
	                        <div dayselector class="time-marker"></div>
	                    </div>
	                    <div id="dayGood" class="time-chart-horiz-line" style="top:0%"> <p class="chart-mins mins-selected">Good</p> </div>
	                    
	                    <div id="dayAvg" class="time-chart-horiz-line" style="top:50%"> <p class="chart-mins">Average</p> </div>
	                    
	                    <div id="dayPoor" class="time-chart-horiz-line" style="top:90%"> <p class="chart-mins">Poor</p> </div>         
	                     
	            </div>
	            <div class="swipe-container-right" on-swipe-right="setAnswer()"> 
                    <a swapColour="changeColour()" ng-click="setAnswer()" class="page-arrow-right arrow-right button button-clear button-dark txtWhite" data-mylonxtpage="5">></a>
                </div>   
	        </div> -->
            <div class="day-ratings">
                <div class="good-rating" ng-click="setAnswer(100)" data-mylonxtpage="5"></div>
                <div class="poor-rating" ng-click="setAnswer(0)" data-mylonxtpage="5"></div>
                <div class="average-rating" ng-click="setAnswer(50)" data-mylonxtpage="5"></div>
            </div>
        </div>
    </ion-content>
</ion-view>