/* scss sass code */
@font-face {
  font-family: AdventPro-Regular-webfont;
  font-style: normal;
  font-weight: normal;
  src: url("../lib/ionic/fonts/AdventPro-Regular-webfont.eot");
  src: url("../lib/ionic/fonts/AdventPro-Regular-webfont.eot?") format("eot"), url("../lib/ionic/fonts/AdventPro-Regular-webfont.woff") format("woff"), url("../lib/ionic/fonts/AdventPro-Regular-webfont.ttf") format("truetype"); 
}


@font-face {
  font-family: BAUHS93-webfont;
  font-weight: normal;
  font-style: normal;
  src: url('../lib/ionic/fonts/BAUHS93-webfont.eot');
  src: url('../lib/ionic/fonts/BAUHS93-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/ionic/fonts/BAUHS93-webfont.woff2') format('woff2'), url('../lib/ionic/fonts/BAUHS93-webfont.woff') format('woff'), url('../lib/ionic/fonts/BAUHS93-webfont.ttf') format('truetype'), url('../lib/ionic/fonts/BAUHS93-webfont.svg#bauhaus_93regular') format('svg');
}

.scroll {
  height: inherit;
}


.card {
  background-color: transparent;
  box-shadow: none;
}

.item {
  display: flex;
  align-items: center;
  background-color: transparent;
    /*margin-bottom: 0.5em;*/
  /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);*/
}

a {
  color: #ffffff !important;
  text-decoration: none !important;
}
a:hover {
  color: #BCECF7 !important;
  text-decoration: none !important;
}

.item p {
  color: #fff;
  font-size: 1.2em;
  margin-left:2em;
  font-family: AdventPro-Regular-webfont;
}

.card .item {
  border-left:1px solid #ffffff;
  border-right:1px solid #ffffff;
}

.card .item:first-child {
  border-top: 1px solid #ffffff;
}
.card .item:last-child {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 1em;
}

/* Icons */
/* text styles */
/* buttons - top bar */
.txtWhite {
  color: #ffffff !important;
}

.txtGreen {
  color: #3abec0 !important;
}

.txtInfo {
  font-family: AdventPro-Regular-webfont;
  font-size: 1.5em;
  width:90%;
  text-align: center;
  margin:auto;
  padding: 1em;
}

.txtInfoData {
  font-family: AdventPro-Regular-webfont;
  font-size: 2em;
  width:90%;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  line-height: 1.2em;
}

.width80 {
  width: 80% !important;
}

.centCont { 
  margin: 0 auto;
}
.btnLoginCen {
  text-align: center;
  cursor: pointer;
}
.btnLogin {
  text-align: right;
  margin-top: 10px !important;
  cursor: pointer;
}
.btnBack {
  text-align: left;
}
.btnLoginCen a {
  display: block;
}
.btnLogin, .btnBack, .btnLoginCen {
  font-family: AdventPro-Regular-webfont;
  /*font-size: 1.5em !important;*/
  color: #ffffff !important;
  /*width: 90px;   */
}
  .btnLogin a, .btnBack a, .btnLoginCen a {
    text-decoration: none !important;
    color: #ffffff; 
  }
 
.btnBack {
  margin:10px;
}
.btnLogin:hover, .btnBack:hover {
  text-shadow: 0 0 10px #ffffff;
}


.btn-logout {
  background-color: transparent !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  margin-bottom: 1em;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  font-family: AdventPro-Regular-webfont;
  font-size: 1.5em;
}
.btn-loginHome {
  background-color: transparent;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  margin-bottom: 1em;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  font-family: AdventPro-Regular-webfont;
  font-size: 1.5em;
  padding: 0.5em 0px;
}
.btn-loginHome:hover {
    border-color: #ccc !important;
    background-color: #D9D9D9; 
}

.login-welcome {
  margin: 1em;
  font-family: AdventPro-Regular-webfont;
  font-size: 1.3em;
  text-align: center;
  color: #ffffff;
}

/* header title */
h1.title {
  display: none; }

/* Login */
.login-set {
  width: 100%; }

.login-inline {
  display: inline-block;
  width: inherit;
  height: auto;
  color: #ffffff;
}

img.login-inline {
  width: 2em !important;  
}


.loginBtnRightFix {
  float: right; }

/* view pane fixed gradient */
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666; }

#bgSingleCont {
  position: inherit;
  height: inherit;
  width: inherit;
}
#bgDblCont {
  position: inherit;
  height: inherit;
  width: inherit;
}

#bgId1 {
  position: inherit;
  height: inherit;
  width: inherit; 
}
#bgId2 {
  position: absolute;
  top:0px;
  width:inherit;
  height:50%;
  
}
#bgId3 {
  position: absolute;
  bottom: 0px;
  height: 50%;
  width: inherit;
  
}
#cenline {
  position: absolute;
  top: 50%;
  width:inherit;
  height:5px;
  background-color: #ffffff;

}

.pane, .view, .bar {
  /*background-color: transparent !important; */
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
  background-color: transparent;
}

.gradOverlay1 {
  position: absolute;
  width:100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(23,23,23,0) 0%, rgba(23,23,23,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,23,23,0)), color-stop(100%,rgba(23,23,23,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00171717', endColorstr='#a6171717',GradientType=0 ); /* IE6-9 */

}
.gradOverlay2 {
  position: absolute;
  width:100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(23,23,23,0) 0%, rgba(23,23,23,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,23,23,0)), color-stop(100%,rgba(23,23,23,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(23,23,23,0) 0%,rgba(23,23,23,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00171717', endColorstr='#a6171717',GradientType=0 ); /* IE6-9 */

}

.gradOverlay3 {
  position: absolute;
  width:100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(23,23,23,0.65) 0%, rgba(23,23,23,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,23,23,0.65)), color-stop(100%,rgba(23,23,23,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(23,23,23,0.65) 0%,rgba(23,23,23,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(23,23,23,0.65) 0%,rgba(23,23,23,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(23,23,23,0.65) 0%,rgba(23,23,23,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(23,23,23,0.65) 0%,rgba(23,23,23,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6171717', endColorstr='#00171717',GradientType=0 ); /* IE6-9 */
}

/* animate bg */
.greenBg-add, .greenBg-remove,
.redBg-add, .redBg-remove,
.blueBg-add, .blueBg-remove,
.yellBg-add, .yellBg-remove,
.purpBg-add, .purpBg-remove {
  -webkit-transition: background 1000ms linear !important;
  -moz-transition: background 1000ms linear !important;
  -o-transition: background 1000ms linear !important;
  transition: background 1000ms linear !important; }

.greenBg,
.greenBg-add.greenBg-add-active {
  background-color: #9BDB25; }

.redBg,
.redBg-add.redBg-add-active {
  background-color: #D62459; }

.blueBg,
.blueBg-add.blueBg-add-active {
  background-color: #51DBD8; }

.yellBg,
.yellBg-add.yellBg-add-active {
  background-color: #00FFC5; }

.purpBg,
.purpBg-add.purpBg-add-active {
  background-color: #662eb4; }




/*# sourceMappingURL=app.css.map */


.container-flex-abs {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  pointer-events: none;
}


.container {
  display: flex;
  min-height:300px;
  height:100%;
  flex-direction:column; 
}

.containerAdvice {
  /*display: flex;*/
  min-height:300px;
  height:100%;
  flex-direction:column; 
}

/*.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/


.container-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  flex-direction:column; 
}

.container-abs {
  position: absolute;
}

.container-content {  
  margin: auto;
}

.container ul {
  display: block;
  position: relative;
  margin-bottom: 5em;
  margin-left: 2em
}

#txtDblCont {
  position: absolute;
  top: -20px;
  height: inherit;
  width: 100%;
}

#txtId2 {
  position: absolute;
  top: 0%;
  width: inherit;
  height: 50%;
  cursor: pointer;  
}
#txtId2:hover {
  text-shadow: 0 0 20px #ffffff;
}

#txtId3 {
  position: absolute;
  bottom: 0px;
  width: inherit;
  height: 50%;
  cursor: pointer;  
}
#txtId3:hover {
  text-shadow: 0 0 20px #ffffff;
}

p.txtInfo {
  position: relative;
  width:100%;
  text-align: center;
  /*top:5%;*/
}



.ansButtonTop {
    position: absolute;
    bottom: 35%;
    width:100%;
    text-align: center;
    z-index: 20;
  }

.ansbuttonTop:hover {
  text-shadow: 0 0 20px ;
}
.ansButtonBot {
  position: absolute;
  top: 35%;
  width:100%;
  text-align: center;
}

.scroll {
  height: 100%;
}

/* home imgs */
.home-img-figure {
  background-image: url(../img/home/home-figure-sahaj.png);
  background-size:cover;

  width: 300px;
  height: 297px;
  
  margin:auto;
  margin-top: 0px;
  margin-bottom: 3em;
}
.home-img-figure-sm {
  
  background-image: url(../img/home/home-figure-sahaj.png);
  background-size:cover;

  width: 100px;
  height: 100px;  
  
  align-items:center;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 50px;
}

.home-img-logo-lg {
  font-family: BAUHS93-webfont;
  width:300px;
  font-size: 8em;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0.5em;
  letter-spacing: 0.065em;
}
.home-img-logo-lg:hover {
  text-shadow: 0 0 20px #ffffff;
}


.logo-corner-sm {
  position: absolute;
  bottom: 0%;
  left: 0px;
  padding: 0em 0em 2em 2em;
  z-index:20;
}
.img-logo-corner-sm {
  font-family: BAUHS93-webfont;
  width:250px;
  font-size: 2em;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0.5em;
}
.img-logo-corner-sm:hover {
  text-shadow: 0 0 10px #ffffff;
}

.home-btn-start {
  bottom: 5%;
  position: relative;
}

.home-btns-cont {
  font-family: AdventPro-Regular-webfont;
  width:250px;  
  margin:auto;
  margin-top: 0px;
  margin-bottom: 1em;
  padding: 1em;
}
.home-btns-cont:hover {
  text-shadow: 0 0 20px #ffffff;
}

.dblPage-txt {
  font-family: AdventPro-Regular-webfont; 
  margin:0 auto;
  margin-top: 0px; 
}
p.dblPage-txt {
  line-height: 1em;
}

.home-btns-cont .home-btns-text, .dblPage-txt {
  font-size: 2.5em;
}

/* ionic edit - icon sizes */
.button.icon:before, .button.icon-left:before, .button.icon-right:before {
  font-size: 2em;
}

#homeCont .scroll-bar {
  display: none;
}
/* ionic edit - head bar buttons*/
.bar-header {
  border-bottom-width: 0px !important;
  /*border-bottom-color: transparent !important;*/
  background-image: none;
  border-bottom: none;
  padding-bottom: 0px;
}

.bar .title {
  /*display: none;*/
}

.bar .title + .buttons {
  position: absolute;
  top: -5px;
  right: 5px;
  bottom: 0px;
  padding: 10px;
}



.button-clear.button-clear {
  color: #ffffff;
}

.button.button-full {
  width: 90%;
  margin:auto;
}
.button.button-full100 {
  width: 100%;
  margin:auto;
}
.button.button-full50 {
  width: 32%;
  margin:auto;
}

.bar .button.button-clear {
  font-size: 1.5em;
  padding: 10px;
  width: 150px;
  text-align: left;
}

.header-home-but {
  margin-top: 10px !important;
  z-index: 10;
  cursor: pointer;
}



.time-chart-cont {
  width: 100%;
  height: 80%;
  margin: auto;  
  position: relative;
}
.time-chart-vert {  
  width: 40%;
  height: 100%;
  margin: auto;
  position: relative;
  /*top:2.5em;*/
  
}
.time-chart-vert-line {
  border-left: 5px solid #ffffff;
  width: 50%;
  height: 90%;
  top: 0%;
  position: absolute;
  z-index: 5;
}

.time-chart-horiz-line {
  border-top: 1px solid #ffffff;
  width:80%;
  height:50px;
  position: absolute;
  top: 0%;
}
p.chart-mins {
  position: relative;
  right: -100%;
  top: -30%;
  color: #ffffff;
  font-family: AdventPro-Regular-webfont;
  font-size: 2em;
  padding: 0px;  
  margin-left: 10px;
  text-align: left;
}

p.chart-mins.mins-selected {
  text-shadow: 0px 0px 5px #fff;
  font-weight: bold;
}

.time-marker {
  position: absolute;
  width:40px;
  height:40px;
  background-color: #ffffff;
  border-radius: 50%;
  left:-20px;
  top:-20px;
  box-shadow: 0px 0px 20px #000;
}
.time-marker:hover {
  box-shadow: 0px 0px 20px #fff;
}

.day-chart-cont {
  width: 100%;
  height: 100%;
  margin: auto;  
  position: relative;
}

.day-chart-cont canvas {
  width: 100%;
  height: 100%;
}

.page-arrow-left {
      position: absolute;
      top: 0%;
      font-family: AdventPro-Regular-webfont;
      font-size: 6.5em !important;
      min-height: 100%;
      padding-top: 50%;
      padding-right:30%;
      z-index: 1;
      
}
.page-arrow-right {      
      font-family: AdventPro-Regular-webfont;
      font-size: 6.5em !important;      
      z-index: 1;
        position: relative;
  top: -25%;
     
}
.page-arrow-center {
      position: relative;      
      font-family: AdventPro-Regular-webfont;
      font-size: 2em !important;
      min-height: 100%;     
      margin: 1em auto; 
      z-index: 1;     
}

.page-arrow-left:hover {

}

.page-arrow-right:hover {


}

.arrow-left {
  left: 5%;
}
.arrow-center {
  left: 0%;
}
.arrow-left:hover, .arrow-right:hover, .arrow-center:hover {
   text-shadow: 0px 0px 15px #fff;
  font-weight: bold;
}
.arrow-right {
  right: 5%;
}

.swipe-container-right {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}


/* login page */

.login-txt-info {

}



/* Stats Page */
#VisCont {
    position: relative;
    /*top: 15%;*/
}

.statSection {
    border: 2px solid #ffffff;
  display: block;
  fill: chartreuse;
}

.statbar {
      display: block;
        height: 20px;
        width: 75px; 
        stroke:white;
        stroke-width:0.5;  /* We'll override this later */
    }

    .statbar.med.Pos {      
        fill: rgb(237, 59, 134);
    } 
    .statbar.len.Pos {      
        fill: rgb(59, 174, 34);
    } 
    .statbar.tho.Pos {      
        fill: rgb(70, 77, 210);
    } 
    .statbar.Pos {      
        fill: rgb(148, 221, 36);
    } 
    .statbar.Neg {      
        fill: crimson;
    } 
    .statbar.Prog {
      fill: rgb(59, 174, 34);
    }
    .statbar.trans {
      fill: rgb(0,0,0,0);
    }
    .statbar.qua.poor {
      fill: rgb(224, 11, 11);
    }
    .statbar.qua.avg {
      fill: rgb(252, 147, 8);
    }
    .statbar.qua.good {
      fill: rgb(191, 226, 27);
    }

    .axis text {
      font: 10px sans-serif;
      fill: #ffffff;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #ffffff;
      shape-rendering: crispEdges;
    }

    .txtData {
      fill: #ffffff;
      font-family: arial;
      font-size: 0.7em;
    }
    .txtData.lgtxt {
      font-size: 0.9em;
    }

    .txtLabel {
      fill: #ffffff;
      font-family: arial !important;
      font-size: 0.8em !important;
    }



/* INTRO styling */
.introGrp {
  height: inherit;
  width: inherit;
}

.slider {
  height: 100%;
  
}
.slider-slide {
  background-color: #666;
}

.intro {
  width:100%;
  height:100%;
}

.intro-run-mylo {
  font-size: 1.8em;
}
.intro-run-mylo:hover {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 0 0 10px #ffffff;
}


.intro.slide1 {
  /*background-color: radial-gradient(ellipse at center,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
  background-color: #3abec0;

}

.intro.slide2 {
  background-color: #3abec0;
}

.intro.slide3 {
  background-color: #3abec0;  
}


.intro.slide4 {
  background-color: #3abec0;
}


.intro-shot {
  border: 2px solid #ffffff;
  margin: 2em auto 0 auto;
  box-shadow: 0px 0px 20px #000000;
}
.intro-centred {
  font-family: AdventPro-Regular-webfont;
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
  line-height: 1.5em;
  position: relative;
  width: 250px;
}

.intro-title {
  display: block;
  font-family: AdventPro-Regular-webfont;
  font-size: 2.5em;
  margin: 0 auto;
  line-height: 1em;
  text-align: center;
  position: relative;
  letter-spacing: 0.03em;
}

.intro-centred.low {
  width:300px;
  line-height: 1em;
  margin-top:1em;
}

.img-intro {
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.img-intro:hover {
  text-shadow: 0 0 20px #ffffff;
}



.intro-chakra {
  margin: 0 auto 3em auto;
  display: block;
  position: relative;
  bottom: 0%;
  width: 100%;
  height: 45%;
  background-size: contain;
  background-position: center bottom;  
  background-image: url('../img/intro/intro-chakra.png');
  background-repeat: no-repeat;
  -webkit-animation: cssAnimation 20s 5 ease;
  -moz-animation: cssAnimation 20s 5 ease;
  -o-animation: cssAnimation 20s 5 ease;
}

@-webkit-keyframes cssAnimation {
  from { -webkit-transform: rotate(0deg)}
  to { -webkit-transform: rotate(360deg)}
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg)}
to { -moz-transform: rotate(360deg)}
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg)}
to { -o-transform: rotate(360deg)}
}


.stripes {
  width: 50px;
  transition:all 0.1s ease-in-out;
  z-index: 1;

  transform: rotate3d(0, 0, 0, 0deg) translate3d(-0px, -5px, 0);
}
.stripes.opened {
  -webkit-transform-origin: 30px 30px;
  transform: rotate3d(0, 0, 1, 90deg) translate3d(-2px, 15px, 0);
}


.menu {
  background-color: rgb(244,244,244);
}

.sideItem {
  background-color: transparent;
  display:block;
  border: none;
}
.sideItem .item-content {
  display: block;
  width:100%;
}


.bar.bar-stable {
  background-image: none;
}

.popup {  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100% !important;
  /* border-radius: 20px 20px 20px 20px; */
  box-shadow: 0px 10px 10px rgb(200, 200, 200);
  margin: 0 auto;  
}

.disableBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(100,100,100,0.5);
  pointer-events: none;
}
.boxHitArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.keyBox {
  width:25px;
  height:15px;
  display:inline-block;
  margin: 0 0.5em 0 0;
  border: 1px solid white;
}
.keyTxt {
  display:inline-block;
  margin-bottom:0.2em;
}
.keyTitle {
  margin-left:2em;
  margin-top:2em;
  margin-bottom:1.5em;
}

.vert {

}
.horiz {
  display: inline-block;
}

.med {
  background-color: rgb(237, 59, 134);
}

.len {
  background-color: rgb(59, 174, 34);
}

.tho {
  background-color: rgb(70, 77, 210);
}

.qua.poor {
  background-color: rgb(224, 11, 11);
}
.qua.avg {
  background-color: rgb(252, 147, 8);
}
.qua.good {
  background-color: rgb(191, 226, 27);
}

.bodyinfo {
  margin: 2em 0;
}
.infoCont {
  margin: 0 2em;
  margin-top: 1em;
}
.infoCont h1 {
  font-family: AdventPro-Regular-webfont;
  font-size: 1.8em;
}
.infoCont button.button-full {
  width:100%;
  height:inherit;
}
.infoCont span {
  font-family: AdventPro-Regular-webfont;
  font-size: 1.8em;
  margin-right: 1em;
}
.infoCont article {
  position: relative;
  display: table;

}
.infoCont article img {
  position: relative;
  top:0;
  left:0;
}
.infoCont article p {
  /*display: inline-block;
  position: absolute;*/
  margin: 4em 2em;
}
.infoCont article p.pwithHeading {
  margin: 1em 2em 4em 2em;
}

.infoCont aside {
  font-style: italic;
  font-size: 0.8em;
  margin: 1em;
}

.infoCont form {
  margin: 2em 0em;
}
.infoCont form input, .infoCont form textarea {
  display: block;
  margin-bottom: 1em;
  width:100%;
  padding: 0 1em;
}

.infoCont form textarea {
  height: 8em;
  padding: 1em 1em;
}

.infoCont button {
  margin-bottom: 10em !important;
}

::-webkit-input-placeholder {
   color: #666666 !important;
}



.pull-left {
  float:left;
}
.pull-right {
  float:right;
}

.myloSideDisabled {

}

.btn-advice-margin {
    margin-bottom: 6em !important;
}

.adviceTxt {
  font-size: 1.5em;
  padding: 1em;
}

.loginMessageTxt {
  margin: 1em 0 0 0 !important;
}

.sidebar-icon {
  display: inline-block !important;
  margin: 0 0.5em 0 0;
}


.sidebar-redBg {
  /*background-color: #AE1241;*/
background: rgb(59,62,145); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjM2IzZTkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjYWUxMjQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(-45deg,  rgba(59,62,145,1) 0%, rgba(174,18,65,1) 80%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,62,145,1)), color-stop(80%,rgba(174,18,65,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(59,62,145,1) 0%,rgba(174,18,65,1) 80%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(59,62,145,1) 0%,rgba(174,18,65,1) 80%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(59,62,145,1) 0%,rgba(174,18,65,1) 80%); /* IE10+ */
background: linear-gradient(135deg,  rgba(59,62,145,1) 0%,rgba(174,18,65,1) 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3e91', endColorstr='#ae1241',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

.sidebar-pointer {
  cursor: pointer;
}

.sidebar-top-mar {
  margin-top: 0.5em;
}

.sidebar-btn {
  width:90%;
}
.sidebar-btn40 {
  width:40%;
}
.sidebar-valign {
  vertical-align: middle;
}
.sidebar-img {
  width: 100px !important;
  height: 100px !important;
  margin: 2em !important;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 1px 2px 16px 1px;
}

.about-img {
  width: 100px !important;
  height: 100px !important;
  margin: auto !important;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 1px 2px 16px 1px;
}

.about section {
      border: 1px solid #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em 0;
}
.about-cen {
  text-align: center;
}
.about-bot {
  margin: 2em 0 ;
}

@media screen and (min-width: 360px) {
    .home-img-figure {
    background-image: url(../img/home/home-figure-sahaj.png);
    background-size: contain;
    width: 257px;
    height: 254px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0em;
  }

  .home-img-logo-lg {
    font-family: BAUHS93-webfont;
    width: 300px;
    font-size: 8em;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0em;
    letter-spacing: 0.065em;
  }
}


@media screen and (max-width: 360px) {
  .dblPage-txt {
    font-size: 2em;
  }

  .home-img-figure {
    background-image: url(../img/home/home-figure-sahaj.png);
    background-size: contain;
    width: 257px;
    height: 254px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0em;
  }

  .home-img-logo-lg {
    font-family: BAUHS93-webfont;
    width: 300px;
    font-size: 8em;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0em;
    letter-spacing: 0.065em;
  }


}


@media screen and (max-width: 320px) {
  

  .intro-shot {
    height: 200px;
  }

  .intro-centred {
    font-size: 1.5em;
  }

  .home-img-figure {
    width: 150px;
    height: 150px;
  }


  #txtDblCont {
    top:0px;
  }

  .txtInfoData {
    font-size: 1.5em;
    margin: 1em auto;
  }

}

.item p.sidebarTxt {
  /*color: #666666;*/
  color: white;
  font-size: 1em;
  margin-left: 1em;
  font-weight: 600;
}

.item p.sidebarTxt span {
  display:block;
}

.item p.sidebarTxt span .sideBtnLong {
  display:block;
  width: 100%;
}

.sidebarMobileEnabled {
  pointer-events: all !important; 
}
.sidebarMobileDisabled {
  pointer-events: none !important;
  color: rgb(180,180,180) !important;
}
