<ion-view title="">
    
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">        
        
        <ion-slide class="intro slide1">
            <div class="container">
                <div class="main_img"></div>
                <div class="txtWhite title">MYLO</div>
                <div class="txtWhite subtitle">Demo</div>
            </div>                            
        </ion-slide>

        <ion-slide class="intro slide2">
            <div class="container">         
                <div class="main_img"></div>
                <div class="txtWhite centered medium-font">DEMO</div>
                <div class="txtWhite text">CHOOSE YES OR NO</div>
            </div>    
        </ion-slide>

        <ion-slide class="intro slide3">  
            <div class="container">              
                <div class="main_img"></div>
                <div class="txtWhite centered medium-font">DEMO</div>
                <div class="txtWhite text">
                    SELECT TO PROGRESS.
                </div>
            </div>      
        </ion-slide>        

        <ion-slide class="intro slide4">  
            <div class="container">              
                <div class="main_img"></div>
                <div class="txtWhite centered medium-font">DEMO</div>
                <div class="txtWhite text">
                    VIEW STATS...
                    <div>
                        <span class="underlined" ng-click="startApp()">START</span>
                    </div>
                </div>
                </div>
            </div>  
        </ion-slide>        

    </ion-slide-box>


</ion-view>

