<ion-view title="">

	
	<ion-nav-bar align-title="center">
		<ion-nav-buttons side="left">
		    <div class="stripes" sidemenubut>
		        <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
		        </button>            
		    </div>
		</ion-nav-buttons>
		<ion-nav-title>
			<h3 class="view_title">
		    	MYLO
		    </h3>
		</ion-nav-title>
		<ion-nav-buttons side="right">
		    <h3 ng-show="(parentObj.loginState)" class="btnLogin">
		        <a ng-click="logOut()"><i class="ion-power"></i></a>
		    </h3>  
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content ng-controller="MeditationReflectCtrl">
		<div class="container containerReflect">
			<!-- <p class="txtInfo txtWhite dblPage-txt">Meditation Reflect</p>
			<p class="txtInfoData txtWhite">
				{{ parentObj.reflection }}
			</p>
			<a swapColour="changeColour()" ng-click="viewStats()" on-swipe-right="onSwipeAcross('yes')" class="page-arrow-center button button-clear button-dark txtWhite" data-mylonxtpage="5"> view stats ></a>  -->
			<p class="txt_title">Meditation Reflect</p>
			<p class="txtInfoData reflectTxt" ng-bind-html="parentObj.reflection"></p>
		</div>
	</ion-content>
</ion-view>