<ion-side-menus >

  	<ion-side-menu-content class="contentMain" drag-content="{{parentObj.dragbool}}">
		  <ion-nav-bar class="bar-stable">
        
	    </ion-nav-bar>	    
	    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>

	    <div id="bgSingleCont" ng-hide="(parentObj.yepNopePage)">
	        <div id="bgId1" class="{{parentObj.colorVal1}}">
	            <div class="gradOverlay1"></div>
	        </div>
	    </div>
	    <div id="bgDblCont" ng-show="(parentObj.yepNopePage)">
	        <div id="bgId2" class="{{parentObj.colorVal2}}">
	            <div class="gradOverlay2"> </div>
	        </div>             
	        <div id="bgId3" class="{{parentObj.colorVal3}}">
	            <div class="gradOverlay3"> </div>
	        </div>
	        <div id="cenline"></div>
	    </div>
	    <!-- <div class="logo-corner-sm" ng-hide="parentObj.homeState">
	        <a class="txtWhite img-logo-corner-sm">MYLO</a>
	    </div> -->

  	</ion-side-menu-content>

  	


  	<ion-side-menu side="left">
    
    <ion-content style="background-color:#3abec0">
      <div class="sidebar-header sidebar-redBg">
      <ion-list>        
        <div class="sidebar_logo">
            <div class="logo_img"></div>
            <div class="txtWhite title">MYLO</div>
        </div>
          <!-- <div class="home-img-figure sidebar-img"></div> -->
        </div>
        <ion-item class="sideItem" nav-clear menu-close href="#/app/home">
          <p class="sidebarTxt">Home</p>
        </ion-item>

        <ion-item class="sideItem myloPrivate" nav-clear menu-close href="#/app/meditationStats" ng-show="logState[1]">
          <p class="sidebarTxt"></span>View Stats</p>
        </ion-item>

        <ion-item class="sideItem" nav-clear menu-close href="#/app/meditationGuide">
          <p class="sidebarTxt">Meditation Guide</p>
        </ion-item>

        <ion-item class="sideItem" nav-clear menu-close href="#/app/meditationHow">
          <p class="sidebarTxt">How to Meditate</p>
        </ion-item>

        <ion-item class="sideItem" nav-clear menu-close ng-click="externalLink('http://meditationforstress.net/sign-up/')">
          <p class="sidebarTxt">Take our Meditation Course</p>
        </ion-item>

        <ion-item class="sideItem myloPrivate" nav-clear ng-show="logState[1]">          
          <div ng-show="mobileMode">
            <p class="sidebarTxt sidebar-pointer" ng-click="setReminderPanel()">Reminder Settings</p>
            <!-- <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label> -->
            <p class="sidebarTxt sidebar-pointer sidebar-top-mar sidebar-valign" ng-show="reminderState">
              Notifications:  <button class="button sidebar-btn40 sidebar-valign" ng-click="setNotify()">{{notify}}</button>                
            </p>
            <p class="sidebarTxt sidebar-pointer sidebar-top-mar" ng-show="notifyState">
              Set daily notification time:  <br>
              <button class="button sideBtnLong sidebar-top-mar sidebar-btn" ng-click="setNotificationTime()">{{notifyTime}}</button>               
            </p>          
          </div>

          <div ng-show="!mobileMode">
            <p class="sidebarTxt sidebarMobileDisabled">Reminder Settings > <br>Disabled: Mobile Only</p>
          </div>
        </ion-item>

        <!-- <ion-item class="sideItem" nav-clear menu-close href="#/app/meditationFeedback">
          <p class="sidebarTxt">Give Feedback</p>
        </ion-item> -->

        <ion-item class="sideItem" nav-clear menu-close ng-click="logOut()">          
        <p class="sidebarTxt"><span class="glyphicon glyphicon-lock sidebar-icon"></span>{{logState[0]}}</p>
          <p class="sidebarTxt" ng-hide="logState[1]">to access your account</p>
        </ion-item>
        
       

        <!-- <ion-item class="sideItem myloPrivate" ng-click="testFire()" nav-clear menu-close href="#/app/home" ng-show="logState[1]">
          <p class="sidebarTxt">Account Details</p>
        </ion-item> -->

        

        
        <!-- <ion-item class="sideItem" nav-clear menu-close href="#/app/home">
          <p class="sidebarTxt">View Rewards</p>
        </ion-item> -->
        
        
        
        
        <!-- <ion-item class="sideItem" nav-clear menu-close href="#/intro">
          <p class="sidebarTxt"><span class="glyphicon glyphicon-education sidebar-icon"></span>Run the Tutorial again</p>
        </ion-item>
        <ion-item class="sideItem" nav-clear menu-close href="#/app/about">
          <p class="sidebarTxt"><span class="glyphicon glyphicon-question-sign sidebar-icon"></span>About the app</p>
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>


</ion-side-menus>
