.bar.bar-stable, .bar-header {
	background-color: #3abec0;
}

.slider-pager .slider-pager-page {
	color: white;
	opacity: 0.4;
}

.centered {
	width: 100%;
	text-align: center;
}

.underlined {
	text-decoration: underline;
}

.medium-font {
	line-height: 30px;
  	font-size: 20px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.btnBack {
	margin-top: 10px !important;
	text-align: left;
}

.back-button.header-item {
	top: -5px;
	font-size: 24px;
}

.view_title {
	margin-top: 16px !important;
	text-align: center;
	color: white;
}

.intro.slide1 .main_img {
	width: 40%;
	height: 30%;
	background-image: url('../img/logos/mylo-logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 45% auto 0px;
}

.intro.slide1 .title {
  	margin: 10px auto 0px;
  	line-height: 30px;
  	font-size: 45px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.intro.slide1 .subtitle {
	margin: 10px auto 0px;
  	line-height: 20px;
  	font-size: 25px;
  	font-family: Arial, Helvetica, sans-serif;
}

.intro.slide2 .main_img {
	width: 70%;
	height: 40%;
	background-image: url('../img/intro/slide2_main.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 40% auto 0px;
}

.intro.slide2 .text {
	margin: 0px auto;
  	font-size: 20px;
  	font-family: "Times New Roman", Times, serif;
  	position: absolute;
  	bottom: 15%;
  	text-align: center;
  	width: 100%;
  	left: 0px;
}

.green-background {
	background-color: #3abec0;
}

.intro.slide3 .main_img {
	width: 70%;
	height: 40%;
	background-image: url('../img/intro/slide3_main.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 40% auto 0px;
}

.container {
	padding: 0;
}

.intro.slide3 .text {
	margin: 0px auto 0px;
  	font-size: 20px;
  	font-family: "Times New Roman", Times, serif;
  	position: absolute;
  	bottom: 15%;
  	text-align: center;
  	width: 100%;
  	left: 0px;
}

.intro.slide4 .main_img {
	width: 70%;
	height: 40%;
	background-image: url('../img/intro/slide4_main.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 40% auto 0px;
}

.intro.slide4 .text {
	margin: 0px auto 0px;
  	font-size: 20px;
  	font-family: "Times New Roman", Times, serif;
  	position: absolute;
  	bottom: 15%;
  	text-align: center;
  	width: 100%;
  	left: 0px;
}

.title_img {
	width: 30%;
	height: 30%;

}

.login .logo_img {
	width: 30%;
	height: 20vh;
	background-image: url('../img/logos/mylo-logo-colored.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 70px auto 0px;
}

.login .title {
  	margin: 10px auto;
  	line-height: 30px;
  	font-size: 30px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	text-align: center;
}

.login #loginForm {
	margin: 20px auto 0;
	width: 80%;
}

.login #loginForm label {
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border-color: #666;
	margin-bottom: 10px;
}

.login #loginForm input:-webkit-autofill {
	background-color: transparent;
}

#loginForm input {
	text-align: center;
	color: #666;
}

.item-input {
	padding: 2px;
}

#loginForm input:-webkit-autofill {
    background-color: transparent !important;
    color: #666;
}

::-webkit-input-placeholder {
   text-align: center;
   color: #666;
}

#loginForm :-moz-placeholder { /* Firefox 18- */
   text-align: center;
   color: #666;
}

#loginForm ::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: #666;
}

#loginForm :-ms-input-placeholder {  
   text-align: center;
   color: #666;
}

#loginForm .button-login {
	width: 45%;
	background-color: #3abec0;
	border-color: #3abec0;
	color: white;
	/*margin-top: 10px;*/
	float: left;
}

#loginForm .button-register {
	width: 45%;
	background-color: #3abec0;
	border-color: #3abec0;
	color: white;
	/*margin-top: 10px;*/
	float: right;
}

#loginForm .forgot-password {
	margin: 10px auto;
	color: #666;
	text-align: center;
	width: 100%;
}

#loginForm form {
	padding-bottom: 25vw;
}

#loginForm .buttons-signup {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	clear: both;
	height: 10vh;
}

#loginForm .buttons-signup .signup-button {
	float: left;
	width: 30%;
	height: 100%;
	margin: 0 1.6%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#loginForm .signup-button.signup-go {
	background-image: url('../img/home/home-go.png');
}

#loginForm .signup-button.signup-fb {
	background-image: url('../img/home/home-fb.png');
}

#loginForm .signup-button.signup-twitter {
	background-image: url('../img/home/home-twitter.png');
}

.container.home {
	background-color: #3abec0;
}

#home_logo .logo_img {
	width: 30%;
	height: 20vh;
	background-image: url('../img/logos/mylo-logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 40% auto 10px;
}

#home_logo .title {
  	margin: 0 auto;
  	line-height: 30px;
  	font-size: 30px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	text-align: center;
}

#home_form {
	height: 100%;
	position: relative;
}

#home_form .home_buttons{
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.home_buttons .home-btns-cont {
	float: left;
	width: 50%;
	margin-bottom: 0px;
	text-align: center;
	padding: 0.5em 0;
	
}

.home-btns-cont.new-entry {
	background-color: #fbb03b;
}

.home-btns-cont.view-stats {
	background-color: #f15a24;
}

.sidebar-redBg {
	background: #3abec0;
}

.item-complex .item-content, .item-radio .item-content {
	background-color: transparent;
}

.sidebar_logo .logo_img {
	width: 30%;
	height: 70px;
	background-image: url('../img/logos/mylo-logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 4em auto 0.3em;
}

.sidebar_logo .title {
  	margin: 0 auto;
  	line-height: 30px;
  	font-size: 20px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	text-align: center;
  	margin-bottom: 2em;
}

.meditated_logo_img {
	width: 40%;
	height: 25vh;
	background-image: url('../img/logos/mylo-logo-colored.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 30% auto 10px;
}

.meditation-length {
	padding-top: 20%;
}

.meditated .title {
  	margin: 20% auto 0;
  	line-height: 30px;
  	font-size: 20px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	text-align: center;
}

.meditated .buttons-meditated {
	margin-top: 70px;
	width: 100%;
	text-align: center;
	clear: both;
	height: 15vh;
}

.meditated .buttons-meditated .meditated-button {
	float: left;
	width: 50%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.meditated .meditated-yes {
	background-image: url('../img/meditated/meditated_yes.png');
}

.meditated .meditated-no {
	background-image: url('../img/meditated/meditated_no.png');
}

.txt_title {
	margin: 0 auto;
	text-align: center;
	color: #666;
	font-size: 20px;
}

.meditation-length {
	width: 90%;
	color: white;
}

.meditation-length .img_clock {
	width: 20%;
	height: 8vh;
	background-image: url('../img/meditated/clock.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 50px auto 50px;
}

.meditation-length .time_slots {
	width: 100%;
}

.meditation-length .length-slot {
	float: left;
	width: 33.3%;
	margin-bottom: 30px;
	text-align: center;	
}

.meditation-length .length-slot .btn-slot {
	width: 70%;
	background-color: #3abec0;
	border: none;
	text-align: center;
	padding: 15px 0px;
}

.meditation-length .slot-longer {
	clear: both;
	background-color: #3abec0;
	width: 50%;
	margin: 0px auto 20px;
	text-align: center;
	padding: 15px 0px;
}

.containerAdvice {
	padding-top: 25%;
}

.containerAdvice .adviceTxt {
	color: #666;
}

.visitText {
	margin: 25% auto 0;
	text-align: center;
}

.visitText a {
	color: #3abec0 !important;
}

.meditation-day {
	padding-top: 30%;
}

.meditation-day .day-ratings {
	margin: 25% auto 0;
	position: relative;
	width: 75%;
	height: 40%;
}

.day-ratings .good-rating {
	width: 31%;
    height: 50%;
    background-image: url('../img/days/good.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 6%;
    top: 6%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.day-ratings .poor-rating {
	width: 30%;
    height: 50%;
    background-image: url('../img/days/poor.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 35%;
    top: 45%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.day-ratings .average-rating {
	width: 31%;
    height: 50%;
    background-image: url('../img/days/average.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 6%;
    top: 6%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.thoughtless_logo_img {
	width: 30%;
	height: 25vh;
	background-image: url('../img/meditated/brain.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 20% auto 10px;
}

.thoughtless .txt_title {
  	margin: 20% auto 0;
  	line-height: 30px;
  	font-size: 20px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	text-align: center;
}

.thoughtless .buttons-thoughtless {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	clear: both;
	height: 15vh;
}

.thoughtless .buttons-thoughtless .thoughtless-button {
	float: left;
	width: 50%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.thoughtless .thoughtless-yes {
	background-image: url('../img/meditated/meditated_yes.png');
}

.thoughtless .thoughtless-no {
	background-image: url('../img/meditated/meditated_no.png');
}

.containerReflect {
	padding-top: 30%;
}

.containerReflect .reflectTxt {
	color: #666;
}

.container.stats {
	position: relative;
}

.vertical-text {
	transform: rotate(-90deg);
}

.txt_monthlabel {
    position: absolute;
    text-align: center;
    top: 50vh;
    left: -10px;
    font-size: 21px;
    font-weight: 400;
}

.stats .txt_title {
	margin: 5% auto 0;
  	line-height: 30px;
  	font-size: 20px;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	text-align: center;
}

.signs {
	text-align: center;
	margin-top: 10px;
}

.signs-img {
	width: 8vw;
	height: 8vw;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
}

.signs-label {
	display: inline-block;
    height: 8vw;
    vertical-align: bottom;
    margin-left: 1vw;
}

.bar-caption-image {
	width: 8vw;
	height: 8vw;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-right: 2vw;
}

.bar-caption-image.clock, .signs-img.clock {
	background-image: url('../img/meditated/clock.png');
}

.bar-caption-image.brain, .signs-img.brain {
	background-image: url('../img/meditated/brain.png');
}

.bar-caption-image.rating, .signs-img.rating {
	background-image: url('../img/days/day-rating.png');
}

#stats_graph {
	width: 100%;
	position: relative;
	margin-top: 30px;
	padding: 0 5% 0 20%;
}

.stat {
	position: relative;
	margin-bottom: 20px;
	color: white;
	right: 0px;
	width: 100%;
}

.stat_date {
	padding-left: 10vw;
	padding-bottom: 5px;
	color: #333;
}

.stats_length {

}

.stats_thoughtless {
}

.stats_rating {
}

.bar-graph {
	height: 8vw;
	display: inline-block;
	position: absolute;
	width: 65vw;
}

.length_bar {
	height: 100%;
	padding: 1vw 3vw;
	background-color: #636de5;
	
}

.thoughtless_bar {
	height: 100%;
	background-color: #29abe2;
	padding: 1vw 3vw;
}

.rating_bar {
	height: 100%;
	padding: 1vw 3vw;
}

.rating_bar.good_rating {
	background-color: #38b780;
}

.rating_bar.average_rating {
	background-color: #fbb03b;
}

.rating_bar.poor_rating {
	background-color: #f15a24;
}
.no_width {
	width: 0 !important;
	padding: 0;
}